*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}
body{
     color: rgb(248, 245, 245);
     background: #081b29;
}

.header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 10%;
      background: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;  
      font-style: italic;  
      color: green;
}

.logo{
  position: relative;
  font-size: 25px;
  color: white;
  padding-left: 100px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a{
  display: inline-block;
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.navbar a:hover{
  color: rgb(26, 228, 110);
}


.home{
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-color:#081b29(170, 100, 20);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
  padding-top: 200px;

}

.home-content{
  max-width: 600px;
  padding-left: 80px;
}
.home-img{
  padding-left: 200px;
  }

.home-content h3{
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
}
.home-content h3 span{
  color: #0ef;
}
.home-content h3:nth-of-type(2){
  margin-bottom: 30px;
  animation-delay: .7s;

}
.home-content h1  {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.home-content p{font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 3px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color:rgb(149, 172, 173) ;
  text-decoration: none;
  margin: 30px 15px 30px;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay:calc(0.2s * var(--i));

}

.home-sci a:hover{
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
.btn-box{
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:2s;
  box-shadow: 0 0 5px #0ef,
  0 0 25px #0ef;

}
.btn-box:hover{
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan
}


.about-text{padding-left: 250px;

  }

.about{display: flex;
   align-items: center;
   gap: 2rem;
}
.about-img img{
  display: flex;
  margin-top: 100px;
  padding-bottom: 20%;
  height: auto;
  width: 800px;
  border-radius: 8px;
  padding-left: 130px;
}

.about-text h2{
  font-size: 70px;
}   

.about-text h2 span{
  color: rgb(34, 228, 228);
}

.about-text h4{
  font-size: 35px;
  font-weight: 600px;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-text p{
  color: white;
  font-size: 25px;
  line-height: 1.4s;
  margin-bottom: 4rem;
 padding-right:50px;
}

#services{
  color: white;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.sub-title{
 text-align: center;
 font-size: 60px;
 padding-bottom: 50px;
}

.sub-title span{
 color: rgb(98, 119, 121);
}
.container{
  padding: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.services-list{
  display: flex;
  grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
  grid-gap: 40px;
  margin-top: 50px;

}
.services-list div{
  background-color: transparent;
  padding: 6%;
  font-size: 13px;
  font-weight: 13px;
  border-left: 10px;
  border-right: 10px;
  border-radius: 7%;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 5px 1px #012290f7,
              5px 1px 340px #0053b8f7;
 }

 
.services-list div i{
  font-size: 50px;
  margin-bottom: 60px;

}
.services-list h2{
  padding-bottom: 20px;
  color:orange;
}
.services-list div a{
  padding: 15px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-top:20px;
  display: inline-block;

}

.read{
  display: inline-block;
  padding: 12px, 60px;
  background-color: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
   animation-delay:2s;
  box-shadow: 0 0 5px #0ef,
  0 0 25px #0ef;
}

.read:hover{ 
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan
}

.services-list div:hover{
  transform: translateY(-10px);
}



.skills-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px; 
  padding: 20px;
}

.container1 {
  width: 600px;
  height: 650px;
  margin-left: 20px;
}

.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
  font-size: 30px;
}

.Technical-bars .bar {
  font-size: 30px;
  margin-top: 30px;
}

.Technical-bars .bar .info {
  margin-bottom: 0px;
}

.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  opacity: 1;
}

.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 8px;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.progress-line.html span { width: 80%; }
.progress-line.css span { width: 70%; }
.progress-line.javascript span { width: 70%; }
.progress-line.Python span { width: 75%; }
.progress-line.My-sql span { width: 80%; }
.progress-line.Django span { width: 90%; }

.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #181717;
  color: white;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -10px;
  opacity: 1;
}

.progress-line.html span::after { content: "80%"; }
.progress-line.css span::after { content: "70%"; }
.progress-line.javascript span::after { content: "70%"; }
.progress-line.Python span::after { content: "75%"; }
.progress-line.My-sql span::after { content: "80%"; }
.progress-line.Django span::after { content: "90%"; }

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.radial-bars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 200px;
}

.radial-bar {
  width: 45%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}

.radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 180px;
}

.progress-bar {
  stroke-width: 20;
  stroke: #000;
  fill: none;
}

.path {
  stroke-width: 20px;
  stroke: #0ef;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}

.path-1 { animation: animate-path1 1s 1s linear forwards; }
.path-2 { animation: animate-path2 1s 1s linear forwards; }
.path-3 { animation: animate-path3 1s 1s linear forwards; }
.path-4 { animation: animate-path4 1s 1s linear forwards; }

@keyframes animate-path1 { 100% { stroke-dashoffset: 130; } }
@keyframes animate-path2 { 100% { stroke-dashoffset: 100; } }
@keyframes animate-path3 { 100% { stroke-dashoffset: 170; } }
@keyframes animate-path4 { 100% { stroke-dashoffset: 130; } }

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 400;
}

.text {
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
}

.main-text{
  padding-top: 50px;
  margin-top: 120px;

}
.main-text h2{
  font-size: 60px;
  line-height: 1;
  text-align: center;
  padding-bottom: 50px;

}

.main-text h2 span{
  color: rgb(98, 119, 121);

}
.portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(359px,auto));
}
.row{
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;

}

.row img{
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;

}
.layer{
  width: 100%;
  height: 0;
  background:linear-gradient(rgba(0,0,0,0.1),#0ef);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;

}
 .layer h5{
  color: #d6ca24;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
 }

 .layer p{
  color: #61525b;
  font-size: 1rem;
  line-height: 1.8;
 }

 .layer i{
  color: #ff004f;
  margin-top: 0px;
  font-size: 20px;
  background: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
 }

 .row:hover img{
  transform: scale(1.1);
 }
.row:hover .layer{
  height: 100%;
}

/* Contact Section */
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  padding-top: 150px;
  gap: 3rem;
  background-color: #081b29;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.contact-text {
  flex: 1;
  max-width: 400px;
  padding-top: 30px;
}

.contact-text h2 {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  padding-left: 650px;
}

.contact-text h2 span {
  color: rgb(98, 119, 121);
}

.contact-text h4 {
  color: rgb(238, 235, 235);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 2rem;
  padding-top: 50px;
  padding-left: 100px;
}

.contact-text p {
  color: white;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 3rem;
  padding-left: 100px;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
  padding-left: 100px;
}

.contact-list li {
  margin-bottom: 10px;
  color: white;
  font-size: 1rem;
}

.contact-list i {
  color: #0ef;
  margin-right: 10px;
}

.contact-icons {
  display: flex;
  gap: 15px;
  padding-left: 100px;
}

.contact-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #0ef;
  transition: 0.5s ease;
}

.contact-icons a:hover {
  background: #0ef;
  color: #000;
  box-shadow: 0 0 20px #0ef;
}

.contact-form {
  padding-top: 150px;
  flex: 1;
  max-width: 500px;
  padding-right: 30px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  background: #ece6e6;
  color: #110c0c;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form .textarea {
  resize: none;
  height: 150px;
}

.contact-form .send {
  padding: 12px 28px;
  background-color: #0ef;
  color: #081b29;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s ease;
}

.contact-form .send:hover {
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef, 0 0 50px #0ef;
}

.last-text p{
  width: 100%;
  text-align: center;
  padding: 25px 25px;
  background: rgb(7,85,91);
  font-weight: 300;
  margin-top: 70px;
  color:rgb(42, 221, 111);

}
.top{
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;

}
.top i {
  color: #a12020;
  background: #0ef;
  font-size: 10px;
  padding: 10px;
  border-radius: 0.5rem;
}


@keyframes slideRight {
  0% {
      transform: translateX(-100px);
      opacity: 0;
  }
 100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
      transform: translateX(100px);
      opacity: 0;
  }
 100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideTop {
 0% {
      transform: translateY(100px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
      transform: translateY(-100px);
      opacity: 0;
  }
 100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.image {
      width: 100px;
     height: 10px;}
